.afacad-flux {
  font-family: "Afacad Flux", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.analytics-container {
  padding: 20px;
  font-family: "Afacad Flux", sans-serif;
}

.tabs {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.tabs button {
  padding: 10px 20px;
  cursor: pointer;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  border-radius: 5px;
}

.tabs button.active {
  background-color: #06402b;
  color: white;
}

.statistics-panel {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.stat-card {
  padding: 10px;
  background-color: #06402b;
  color: #f9f9f9;
  border-radius: 5px;
  text-align: center;
  flex: 1;
}

.chart-container {
  width: 100%;
  height: 400px;
  margin-bottom: 20px;
}

.top-sites ul {
  list-style: none;
  padding: 0;
}

.top-sites li {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
}

.favicon {
  width: 24px;
  height: 24px;
}
